.nota {
    width: 100%;
    padding-top: 10px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 3%;
    box-sizing: border-box;
}

.nota .brand {
    display: flex;
    color: #074c93;
    justify-content: center;
}

.nota .brand h1 {
    font-size: 30px;
    font-weight: bold;
}

.nota .brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nota .info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.nota header {
    width: 100%;
}

.nota header p {
    text-align: center;
}

.nota header .title {
    font-weight: bold;
    margin-top: 10px;
}

.nota main .data {
    margin-left: 5%;
    margin-right: 5%;
}

.nota main .data table {
    width: 100%;
}

.nota main .data td {
    text-align: center;
}

.nota thead {
    color: black;
}

.nota main .data th {
    padding-top: 7px;
    padding-bottom: 7px;
}

.nota main .data th:nth-child(2) {
    width: 20%;
}

.nota main .data td:nth-child(3) {
    text-align: left;
}

.nota main .data tr {
    margin-bottom: 5px;
}

.nota main .flor {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.nota main .flor .col-1 {
    display: flex;
    align-items: center;
}

.nota main .flor .col-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.nota main .flor .col-2 div:first-child {
    display: flex;
    justify-content: space-between;
}

.nota main .flor .col-2 p {
    text-align: center;
    margin-bottom: 30px;
}

.nota footer h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.nota main .flor .col-2 div:last-child {
    margin-top: 30px;
}

.nota .bg-table img {
    width: 85%;
    height: 30px;
    position: absolute;
}